@charset "ISO-8859-1";

body {
	margin: 0
}

table {
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	table-layout: fixed;
	border-collapse: collapse;
	border: 3px solid purple;
	margin-bottom: 50px;
	background-color: white;
}

th, td {
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

    .navbar {
      background-color: #333;
      overflow: hidden;
    }

    .navbar a {
      float: left;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 18px;
    }

    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }

    .navbar a.active {
      background-color: #4CAF50;
      color: white;
    }

.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 40px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #ccc;
}

.admin-buttons {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

.admin-buttons:hover {
  background-color: #45a049;
}

.admin-buttons:active {
  background-color: #3e8e41;
}

